<% content_for :body do %>

<div class="content-container">
  <div class="container">
    <nav>
      <a href="/" class="logo">
        <%= image_tag("logos/white_logo.svg", alt: "Home") %>
      </a>
    </nav>

    <section class="about-page__bio">
      <h1>About Felipe</h1>
      <%= image_tag("Felipe.png", class: ["about-page__photo"]) %>


      <p>My name is Felipe Seré and you have just landed on my site! On this site I publish pictures that were
  taken during most of my vacations or places I have been to. Such places include Kenya, Uruguay,
  Germany, Portugal and the Netherlands. I picked up photography while living in Kenya with my parents
  about twelve years ago. Over the years I have learned to use both my beloved 70-200mm tele and my trusty
  10-22mm wide angle lens. My current challenge is to use a 50mm fixed-lens more and more.

  The style of image I am aiming at is colourful and cheerful. I like to either pick out minute details or
  show large landscapes.</p>

    </section>

    <section class="about-page__social-media">
      <%= erb :connect_with_me, locals: {color: :grey} %>
    </section>

    <section class="photo-gallery">
      <%= image_tag(['gallery/bridge.jpg', 'gallery/giraffes.jpg',
      'gallery/madeira.jpg', 'gallery/spring.jpg',
      'gallery/stpancreas.jpg','gallery/waves.jpg',
      'gallery/dahlia.jpg', 'gallery/stroll.jpg',
      'gallery/broadway-market.jpg'], class:['column', 'large-4', 'medium-6']) %>
    </section>
  </div>
</div>
<% end %>
