<h3>Connect with me!</h3>
<a href="http://github.com/felipesere" target="_blank">
  <%= image_tag("icons/github_#{color}.png") %>
</a>
<a href="http://twitter.com/felipesere" target="_blank">
  <%= image_tag("icons/twitter_#{color}.png") %>
</a>
<a href="http://fesere.de" target="_blank">
  <%= image_tag("icons/photo_icon_#{color}.png") %>
</a>
<a href="http://www.rssfeed.com" target="_blank">
  <%= image_tag("icons/rssfeed_#{color}.png") %>
</a>
