<% content_for :body do %>
  <header style="background-image: url(/images/index/untitled-1-Edit-Edit.jpg);
                 background-position: center;
                 background-attachment: fixed;" >
  </header>
  <%= erb :social_bar, locals: { show_home: false, type: :float } %>
  <%= erb :title, locals: { title: title, subtitle: subtitle } %>

  <div class="posts">
    <% posts.each do |post| %>
      <%= erb :post_snippet, :locals => {post: post} %>
    <% end %>
  </div>
<% end %>

