<% content_for :body do %>
  <header style="background-image: url(/images/index/laptop-24-Edit.jpg);
                 background-position: center;
                 background-attachment: fixed;" >
  </header>
  <%= erb :social_bar, locals: { show_home: false, type: :float } %>
  <h1 id="site-title"><%= title %></h1>
  <h3 id="site-subtitle"><%= subtitle %></h3>

  <div class="posts">
    <% posts.each do |post| %>
      <%= erb :post_snippet, :locals => {post: post} %>
    <% end %>
  </div>
<% end %>

