<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header style="background-image: url(/images/index/untitled-1-Edit-Edit.jpg);
                   background-position: center;
                   background-attachment: fixed;" >
      <div id="navbar">
        <a href="/" class="home">Code Paradoxon</a>
      </div>
    </header>

    <%= erb :title, locals: { title: title, subtitle: subtitle } %>

    <%= yield_content :body %>
  </body>
</html>


