<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header style="background-image: url(/images/index/blog-title-v2.jpg)" >
      <div id="navbar">
        <a href="/" class="home">Code Paradoxon</a>
      </div>
    </header>

    <%= erb :title, locals: { title: title, subtitle: subtitle } %>

    <%= yield_content :body %>
  </body>
</html>


