<% content_for :body do %>
  <%= erb :social_bar, locals: { show_home: true, type: :fixed } %>

  <div class="post-heading">
    <h1 id="title"><%= title %></h1>
    <h3 id="subtitle"><%= subtitle %></h3>
    <%= erb :post_metadata, locals: { post: post } %>
  </div>
  <div class="post-content">

    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in pellentesque quam. Nullam tempus sit amet massa at imperdiet. Nulla facilisi. In ut arcu feugiat nisi malesuada porttitor. Sed cursus lectus ac felis commodo maximus. Aliquam lacinia, magna id facilisis molestie, risus justo vehicula nunc, vitae tincidunt nunc lacus in orci. Nullam id elit tellus. Suspendisse at sapien pulvinar dui rutrum mattis sit amet eu purus. Integer augue ex, suscipit aliquet feugiat placerat, feugiat ac ante. Suspendisse potenti. Duis id mollis lorem, sed tempus enim.
    </p>

    <p>
    <div class="highlight"><pre><span class="k">class</span> <span class="nc">Dog</span> <span class="o">&lt;</span> <span class="no">Struct</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="ss">:name</span><span class="p">)</span>
  <span class="k">def</span> <span class="nf">sound</span>
    <span class="s2">"Woof"</span>
  <span class="k">end</span>
<span class="k">end</span>

<span class="k">class</span> <span class="nc">Cat</span> <span class="o">&lt;</span> <span class="no">Struct</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="ss">:name</span><span class="p">)</span>
  <span class="k">def</span> <span class="nf">sound</span>
    <span class="s2">"Meow"</span>
  <span class="k">end</span>
<span class="k">end</span>

<span class="k">def</span> <span class="nf">introduce</span><span class="p">(</span><span class="n">animal</span><span class="p">)</span>
  <span class="s2">"</span><span class="si">#{</span><span class="n">animal</span><span class="o">.</span><span class="n">sound</span><span class="si">}</span><span class="s2">, my name is </span><span class="si">#{</span><span class="n">animal</span><span class="o">.</span><span class="n">name</span><span class="si">}</span><span class="s2">"</span>
<span class="k">end</span>

<span class="n">introduce</span><span class="p">(</span><span class="no">Dog</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">"Rex"</span><span class="p">))</span> <span class="c1"># Woof, my name is Rex </span>
<span class="n">introduce</span><span class="p">(</span><span class="no">Cat</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">"Kit"</span><span class="p">))</span> <span class="c1"># Meow, my name is Kit</span></pre></div>
</p>

    <p>
    Duis vitae ligula sem. Suspendisse sit amet ligula tempus, porttitor arcu sed, volutpat neque. Maecenas pellentesque sem neque. Aenean laoreet tincidunt est, eget finibus orci auctor tincidunt. Nam feugiat, turpis ac pretium condimentum, felis mi volutpat metus, ac sodales sapien ligula sed ipsum. Praesent sed hendrerit sapien. Sed semper sem et nisl finibus, eget pellentesque tortor dapibus. Quisque sed purus ut sapien egestas venenatis. Nulla ac tellus sed nibh consectetur mollis tempor vitae dui. Ut sed porttitor massa. Suspendisse nec purus volutpat, tempor felis vel, ullamcorper nunc. Duis lobortis velit turpis, tristique ultrices libero ultricies quis. Nulla id lobortis leo.
    </p>

    <p>
    Sed varius arcu quis libero varius, vel consectetur lectus dapibus. Praesent iaculis magna accumsan massa hendrerit venenatis. Pellentesque sodales tortor sit amet nisi posuere ultricies. Fusce id erat condimentum, sodales odio et, ultrices dolor. Donec tincidunt sapien in dolor dictum dictum. Sed eu luctus dolor, sed hendrerit ligula. Fusce sit amet suscipit erat, nec fringilla enim. Phasellus rutrum tellus ullamcorper molestie lobortis. Mauris sed ligula nulla. Nam nisi leo, tempor ut efficitur vitae, bibendum a eros. Duis sit amet venenatis nibh. Quisque accumsan semper congue. Pellentesque nisl nunc, tincidunt nec porta a, vehicula quis lorem.
    </p>

    <p>
    Sed condimentum sapien euismod, interdum enim id, interdum urna. Aliquam justo massa, convallis ac sem non, venenatis convallis leo. Curabitur non placerat justo. Phasellus et massa porttitor, finibus magna non, finibus enim. Suspendisse at luctus mi. Morbi sed posuere velit. Donec interdum mollis cursus. Donec rhoncus dui purus, ac tempus nunc egestas quis. Pellentesque accumsan magna sed magna iaculis condimentum.
    </p>
  </div>
<% end %>
