<div class="post">
  <a href="#">
    <h1 class="post-title">Ripples in Abstraction</h1>
    <h3 class="post-subtitle">When things go gently wrong</h3>
  </a>
  <p class="metadata">
    Posted by <a href="#">Felipe Sere</a> on October 23, 2014
  </p>
</div>
