<div class="post">
<a href="<%= post.slug %>">
  <h1 class="post-title"><%= post.title %></h1>
  <h3 class="post-subtitle"><%= post.subtitle %></h3>
</a>
<div class="excerpt">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in pellentesque quam. Nullam tempus sit amet massa at imperdiet. Nulla facilisi. In ut arcu feugiat nisi malesuada porttitor. Sed...
</div>
  <%= erb :post_metadata, locals: { post: post } %>
  <hr class="divider"/>
</div>
