<div class="social-bar">
  <% if show_home %>
  <a href="/">
    <img src="/images/social/home.png" >
  </a>
  <% end %>
  <a href="http://twitter.com/felipesere" target="_blank">
    <img src="/images/social/twitter_logo_black.png" >
  </a>
  <a href="http://github.com/felipesere" target="_blank">
    <img src="/images/social/github.svg" >
  </a>
</div>
