<div class="<%= "social-bar-#{type}"%>">
  <% if show_home %>
  <a href="/">
    <img class="icon" src="/images/social/home.png" >
  </a>
  <% end %>
  <a href="http://twitter.com/felipesere" target="_blank">
    <img class="icon"  src="/images/social/twitter_logo_black.png" >
  </a>
  <a href="http://github.com/felipesere" target="_blank">
    <img class="icon" src="/images/social/github.svg" >
  </a>
  <a href="#rss">
    <img class="icon"  src="/images/social/rss.png" >
  </a>
  <a href="http://fesere.de" target="_blank">
    <img class="icon"  src="/images/social/photography.png" >
  </a>
</div>
