*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.posts {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}

#title {
  font-size: 4em;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  text-align: center;
  margin: 0 0 0 0;
}

#subtitle {
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  text-align: center;
  margin: 0 0 2em 0;
}

.post-title {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.post-subtitle {
  margin: 0 0 1em 0;
  font-family: 'Roboto Slab', serif;
}

hr.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.post {
  margin: 0 auto;
  max-width: 48rem;
}

.post .metadata {
  font-style: italic;
  font-size: 10px;
  color: #808080;
}

.post .excerpt {
  text-align: justify;
  font-weight: 300;
  font-style: normal;
}

@media (min-width: 40rem) {
  .post .metadata {
    font-size: 15px;
  }
}

@media (min-width: 64) {
  .post .metadata {
    font-size: 20px;
  }
}

.post-content {
  width: 90%;
  margin: auto;
  text-align: justify;
}

@media (min-width: 40rem) {
  .post-content { width: 70%; }
}

@media (min-width: 64rem) {
  .post-content { width: 50%; }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #2B59B0;
}

p {
  color: #333333;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
}

header {
  display: block;
  height: 65%;
  min-height: 180px;
  background-size: cover;
}
